.formulaire
{
    margin: 1% 4% 0 4%; 
}

a
{
    text-decoration-line: none;
    outline: none;
}

a:hover
{
    cursor: pointer;
}

a:visited
{
    color: black;
}

body
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Raleway, Verdana, sans-serif;
    --bleu-foncé: #0065FC;
    --bleu-clair: #DEEBFF;
    --gris: #F2F2F2;
    margin: 0;
}

#main_wrapper
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
p

{
    font-weight: 400;
    font-size: 18px;
    margin: 4px 0px 1px 10px;
}

h1
{
    font-size: 24px;
    font-weight: 700;
}
h2
{
    font-weight: 700;
    font-size: 22px;
    border: 1px solid rgba(255, 0, 0, 0);
    margin: 50px 0px 0px 40px;
}

h1 + p
{
    margin-left: 0;
}

h3
{
    font-weight: 700;
    font-size: 18px;
    border: 1px solid rgba(255, 0, 0, 0);
    margin: 30px 0px 0px 30px;
}

.greystar
{
    color:rgb(220, 220, 220);
}

.bluestar
{
    color: var(--bleu-foncé);
}

.stars
{
    padding-left: 10px;
}

/* -- Début du block : header -- */

header
{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    border: 1px solid rgba(255, 0, 0, 0);
    width: inherit;
    margin: 0 70px 10px 70px;
}
.image_header
{
    height: 50px;
    width: 110px;
    object-fit: cover;
    justify-content: flex-start;
    margin: 30px 0px 0 90px;
}

.nav_bar
{
    display: flex;
    justify-content: flex-end;
    margin: 8px 70px 0 0;

}

.nav:hover, .btn:hover
{
    color: #0065FC;
}

.btn 
{
    min-width: 176px;
    line-height: 50px;
    font-size: 16px;
    border: 1px solid rgba(255, 0, 0, 0);
    outline: none;
    position: relative;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.btn.btn-upperline::before
{
    content: '';
    top: -25px;
    right: 0;
    left: 0;
    height: var(--box-sizing);
    position: absolute;
    border: 2px solid var(--bleu-foncé);
    transform: scaleX(0);
}

.btn.btn-upperline::before,
.btn.btn-upperline::after
{
    box-sizing: content-box;
}

.btn.btn-upperline:hover::before,
.btn.btn-upperline:focus::before
{
    transform: scaleX(1);
}

ul
{
    list-style-type: none;
    display: flex;
}

li
{
    display: flex;
    justify-content: center;
}

/* -- Fin du block : header -- */

/* -- Début du block : recherche -- */

#recherche
{
    width: 100%;
    margin: 10px 90px 10px 90px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.formulaire
{
    margin: 20px 0 20px 0;
}

form
{
    background-color: rgba(238, 130, 238, 0);
    display: flex;
    height: 56px;
    position: relative;
    border-collapse: collapse;
    margin-left: 56px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.fa-map-marker-alt
{
    color: black;
    background-color: var(--gris);
    border: 2px solid var(--gris);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 21px;
    position: absolute;
    top: 0;
    left: -56px;
}
.saisie
{
    font-family: Raleway, Verdana, sans-serif;
    font-weight: 700;
    font-size: 20px;
    height: 56px;
    width: 220px;
    color: black;
    border: 2px solid var(--gris);
    background-color: white;
    padding-left: 15px;
}

.envoi
{
    font-family: Raleway, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    height: 61px;
    width: 140px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--bleu-foncé);
    color: white;
}

#block_filtres
{
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 20px 0 20px 0;
}

.icone_filtre

{
    color: var(--bleu-foncé);
    border-radius: 9999px;
    padding: 13px;
    background-color: var(--bleu-clair);

}

.filtre_texte
{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}



.filtres_liste
{
    display: flex;
    margin: 10px 20px 0 0;
    padding-left: 0px;
}

.economique,
.romantique,
.familial,
.animaux
{
    display: flex;
    margin: 10px 30px 0 0;
    border: 3px solid var(--gris);
    border-radius: 9999px;
}

.economique:hover,
.familial:hover,
.romantique:hover,
.animaux:hover
{
    background-color: var(--bleu-clair);
}

.fa-info
{
    color: var(--bleu-foncé);
    background-color: white;
    border: 2px solid var(--gris);
    border-radius: 9999px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    margin-right: 5px;
}

#info
{
    margin-bottom: 20px;
}

/* -- Fin du block : recherche -- */

/* -- Début du block : Hébergements à Marseille -- */

#hm
{
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 23px / 23px;
    width: 58%;
    background-color: var(--gris);
    margin-right: 2%;
}

.block1
{
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vignetteblock1
{
    border: 1px solid rgba(60, 255, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 23px / 23px;
    width: 30%;
    padding: 5px;
    margin-bottom: 15px;
}

.imageblock1
{
    width: 100%;
    height: 150px;
    border: hidden;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    object-fit: cover;
}

.descblock1
{
    display:flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 25%;
    width: 100%;
}

.descblock1_text
{
    margin: 0px 0 5px 10px;
}

.descblock1 h3
{
    margin: 0 0 5px 10px;;
}

/* -- Fin du block : Hébergements à Marseille -- */

/* -- Début du block : Les plus populaires -- */

.title_lpp
{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.lpp
{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 32%;
    background-color: var(--gris);
}

.block2
{
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
}

.vignetteblock2
{
    border: 1px solid rgba(60, 255, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 23px / 23px;
    width: 90%;
    min-width: 300px;
    height: 170px;
    padding: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.imageblock2
{
    min-width: 150px;
    width: 40%;
    min-height: 170px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    object-fit: cover;
}

.descblock2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: normal;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    min-width: 100px;
    height: 160px;
    width: 100%;
    margin-left: 20px;
    margin-top: 10px;
}

.descblock2 h3
{
    margin: 0 0 5px 10px;
}

.vignetteblock2 a
{
    display: flex;
}


/* -- Fin du block : les plus populaires -- */

/* -- Début du block : Activités à Marseille -- */

.title_am
{
    border: 1px solid rgba(255, 0, 0, 0);
    width: 100%;
}
#am
{
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 30px 30px 30px 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.aam
{
    border: 1px solid rgba(0, 128, 0, 0);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.cols
{
    width: 25%;
    height: 500px;
    margin: 10px;
    border: 1px solid rgba(255, 166, 0, 0);
}

.col2, .col4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vignette_col1,
.vignette_col3
{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 255, 0);
    border-radius: 18px;
    box-shadow: 0px 5px 0px var(--gris);
    width: 100%;
    height: 100%;
}

.vignette_col2_1
{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 255, 0);
    border-radius: 18px;
    box-shadow: 0px 5px 0px var(--gris);
    width: 100%;
    height: 260px;
}

.vignette_col2_2
{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 255, 0);
    border-radius: 18px;
    box-shadow: 0px 5px 0px var(--gris);
    width: 100%;
    height: 190px;
}

.vignette_col4_1
{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 255, 0);
    border-radius: 18px;
    box-shadow: 0px 5px 0px var(--gris);
    width: 100%;
    height: 225px;
}

.vignette_col4_2
{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 255, 0);
    border-radius: 18px;
    box-shadow: 0px 5px 0px var(--gris);
    width: 100%;
    height: 225px;
}

.image_am
{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;

}

.image_col1,
.image_col3 
{
    min-height: 450px;
    height: 450px;
}

.image_col2_1
{
    min-height: 210px;
    height: 210px;
}

.image_col2_2
{
    height: 140px;
    min-height: 140px;
}

.image_col4_1
{
    min-height: 175px;
    height: 175px;
}

.image_col4_2
{
    min-height: 175px;
    height: 175px;
}

.desc_col
{
    display: flex;
    justify-content: flex-start;
    padding: 5px 0 0 10px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
}

.desc_col h3
{
    margin: 5px 0 0 5px;
    font-size: 16px;
}

/* -- Fin du block : Activités à Marseille -- */

/* -- Début du block : footer -- */

footer
{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: var(--gris);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 50px 50px 50px;
    margin: 0;
}

.foot
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 250px;
    margin-bottom: 50px;
}

.footer_subtitle
{
    margin: 0 0 20px 0px;
}

footer p
{
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 500;
}

/* -- Fin du block : footer -- */

@media screen and (min-width: 768px) and (max-width: 992px)
{
    .filtres_liste
    {
        width: 100%;
    }

    #hm
    {
        width: 100%;
        order: 1
    }

    .vignetteblock1
    {
        width: 100%;
        height: 100%;
    }

    .imageblock1
    {
        min-height: 350px;
        height: 350px;
    }

    .descblock1
    {
        min-height: 60px;
    }

    .lpp
    {
        width: 100%;
    }

    #am
    {
        order: 1;
    
    }

    footer 
    {
        order: 1;
    }

    .imageblock2
    {
        min-height: 250px;
        height: 250px;
        min-width: 450px;
        width: 450px;

    }

    .vignetteblock2
    {
        min-height: 250px;
        max-height: 250px;
        min-width: 230px;
        width: 100%;
    }

    .aam
    {
        display: flex;
        flex-wrap: wrap;
    }

    .image_am
    {
        min-height: 450px;
        height: 450px;
        min-width: 100%;
    }

    .cols
    {
        display: flex;
        flex-wrap: wrap;
    }

    .col1, .col3 
    {
        width: 100%;
        min-height: 450px;
        height: 450px;
        display: flex;
        flex-direction: row;
        margin-bottom: 75px;
    }

    .col2, .col4 
    {
        width: 100%;
        min-height: 1100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .vignette_cols
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 18px;
        box-shadow: 0px 5px 0px var(--gris);
        min-height: 450px;
        height: 450px;
    }

    .desc_col h3 
    {
        margin-top: 5px;
    }

    footer
    {
        justify-content: space-between;
    }

    .foot
    {
        flex-direction: column;
        margin-right: 0px;
    }

}

@media screen and (max-width: 767px)
{
    body
    {
        margin: 15px;
    }

    #main_wrapper
    {
        width: 100%;
    }

    header 
    {
        display: flex;
        flex-wrap: wrap;
        min-width: 100%;
    }

    .image_header
    {
        width: 100%;
        justify-content: center;
        margin-bottom: 50px;
    }

    .nav_bar
    {
        
        min-width: 100%;
        width: 100%;
        border: 1px solid black;
        margin: 0;
    }

    ul
    {
        border: 1px solid rgb(255, 0, 0);
        width: 100%;
    }

    li
    {
        width: 100%;
    }

    #main_wrapper ul, #main_wrapper li 
    {
        margin: 0;
    }

    

}